<div class="user-form">

    <div class="">
        <h3>Nome</h3>
        <input type="text" name="name" value="" placeholder="Digite o nome completo">
    </div>

    <div class="">
        <h3>Email</h3>
        <input type="email" name="email" value="" placeholder="Digite o email">
    </div>

    <div class="">
        <h3>Senha</h3>
        <input type="password" name="password" value="" placeholder="Cadastre uma senha">
    </div>

    <div class="checkbox">    
        <input type="checkbox" name="is_admin" id="is_admin">
        <label for="is_admin">Administrador</label>
    </div>

</div>


