{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Lista de usuários</title>
{% endblock %}

{% block content %}

<div class="container edit-header">
    
    <h1>Usuários</h1>    
    
    <a href="/admin/users/create" class="button">Novo</a>    
</div>

<div class="class container users-list">
    {% for user in users %}
        <div class="user-card">
            <div class="user-info">
                <h1>{{user.name}}</h1>
                <p>{{user.email}}</p>
            </div>
            <div class="user-options">
                <a class="edit-user" href="/admin/users/{{user.id}}/edit">Editar</a>
                <form id="form-delete" action="/admin/users?_method=DELETE" method="post">
                    <input 
                                type="hidden" 
                                name="id" 
                                value={{user.id}}
                            > 
                    <button class="delete-user" type="submit">Remover</button>
                </form>                
            </div>
        </div>

    {% endfor %}
</div>

<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja Deletar?")
        if(!confirmation){
            event.preventDefault()
        }
    })
</script>
    
{% endblock %}