{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Lista de usuários</title>
{% endblock %}

{% block content %}

<div class="container edit-header">
    <h1>Usuários</h1>
    <a href="/admin/users/create" class="button">Novo</a>
</div>

<div class="class container users-list">
    {% for user in users %}
        <div class="user-card">
            <div class="user-info">
                <h1>{{user.name}}</h1>
                <p>{{user.email}}</p>
            </div>
            <div class="user-options">
                <a href="#">Editar</a>
                <a href="#">Remover</a>
            </div>
        </div>

    {% endfor %}
</div>
    
{% endblock %}