{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

{% include 'parts/hero.njk' %}

<div class="container title">
    <h1>Mais acessadas</h1>
</div>

{% include 'parts/recipes-list.njk'%}



{% endblock %}