{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    
{% include 'parts/recipes-list.njk'%}

<div class="container pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}               
></div>   

{% endblock %}