{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

<div class="container title">
    <p>Buscando por "{{filter}}"</p>
</div>

{% include 'parts/recipes-list.njk'%}

{% endblock %}}