<div class="header-admin">
    <header >
        <div class="logo">
            <a href="/"><img src="/assets/logo-admin.png" alt="Logo"></a>            
        </div>
        <div class="menu menu-admin">  
            <div>
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
                {% if isAdmin%}
                <a href="/admin/users">USUÁRIOS</a>
                {% endif %}
            </div>       
            <div>
                <form action="/admin/users/logout" method="post">
                    <button>SAIR</button>
                </form>
            </div>
        </div>
    </header>
</div>