<header>
    <div class="logo">
        <a href="/"><img src="/assets/logo.png" alt="Logo"></a>            
    </div>
    <div class="menu">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
        <a href="/chefs">Chefs</a>
        <a href="/admin/recipes">Admin</a>
    </div>
    <form class="search" action="/search" method="GET">
        <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</header>