<div class="container">
    <div class="recipes-list">
        {% for recipe in recipes %}
        <a href="/recipes/{{recipe.id}}">
            <div class="recipe-card">
                <div class="card-img">
                    <img src="https://s2.glbimg.com/XB2PCk1Vn0gnBIp7Z40bokvYblo=/620x455/e.glbimg.com/og/ed/f/original/2021/05/28/crispy-french-fries-with-ketchup-and-mayonnaise.jpg" alt="Imagem de {{recipe.title}}">
                </div>
                <div class="card-text">
                    <h1>{{recipe.title}}</h1>
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div> 
        </a>
        {% endfor %}   
    </div>
</div>


{# src="{{recipe.image}}" #}