<div class="container">
    <div class="recipes-list">
        {% for recipe in recipes %}
        <a href="/recipes/{{recipe.id}}">
            <div class="recipe-card">
                <div class="card-img">
                    <img src="{{recipe.image}}" alt={{recipe.title}}>                    
                </div>
                <div class="card-text">
                    <h1>{{recipe.title}}</h1>
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div> 
        </a>
        {% endfor %}   
    </div>
</div>
