<div class="container recipe">
    <div class="recipe-img">
        <div class="">
            <img src="https://s2.glbimg.com/XB2PCk1Vn0gnBIp7Z40bokvYblo=/620x455/e.glbimg.com/og/ed/f/original/2021/05/28/crispy-french-fries-with-ketchup-and-mayonnaise.jpg" alt="Imagem de {{recipe.title}}">
        </div>
        <div class="card-text">
            <h1>{{recipe.title}}</h1>
            <h2>por {{recipe.chef_name}}</h2>
        </div>
        <div class="recipe-text">
            <div class="title-button">
                 <h3>Ingredientes</h3><button onclick="hideShow()" id="hide-button">Esconder</button>                       
            </div>
            <ul class="ingredients" id="hide-show">
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
            </ul>  
            <div class="title-button">
                <h3>Modo de preparo</h3><button onclick="hideShow2()" id="hide-button2">Esconder</button>            
            </div>          
            <ul id="hide-show2" class="steps">
            {% for step in recipe.preparation %}
                <li>{{step}}</li>
            {% endfor %}
            </ul>
            <div class="title-button">
                <h3>Informações adicionais</h3><button onclick="hideShow3()" id="hide-button3">Esconder</button>
            </div>   
            <p class="recipe-info" id="hide-show3">{{recipe.information}}</p>           
        </div>
    </div>
</div>

{# src="{{recipe.image}}" #}