{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Admin</title>
{% endblock %}

{% block content %}

<div class="container chefs-list">   

    {% for chef in chefs %}
    <div class="chef-card">
        <div class="chef-card-img">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
        </div>
        <div class="chef-card-text">
            <h1>{{chef.name}}</h1>  
            <p>{{chef.total_recipes}} receitas</p>
        </div>
    </div> 
    {% endfor %}   

</div>

{% endblock %}